// Background color
@background-color-base  : #f7f7f7;        // basic gray background

// Layout
@layout-body-background      : #ececec;
@layout-header-background    : #404040;
@layout-header-height        : 64px;
@layout-header-padding       : 0 50px;
@layout-footer-padding       : 24px 50px;
@layout-sider-background     : @layout-header-background;
@layout-trigger-height       : 48px;
@layout-zero-trigger-width   : 36px;
@layout-zero-trigger-height  : 42px;